[workspace]
authors = ["ollie-desktop <buitelaarolivier@gmail.com>"]
channels = ["conda-forge"]
name = "ugro"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.10"
python-dotenv = ">=1.2.1,<2"

[pypi-dependencies]
click = ">=8.1.0"
pyyaml = ">=6.0"
pydantic = ">=2.0"
paramiko = ">=3.0"
psutil = ">=5.9.0"
requests = ">=2.31.0"
ugro = { path = "/home/ollie/Development/Tools/ugro", editable = true }
